{sub_dirs, ["bubba", "rel"]}.
{deps, [
        {meck, "0.7.1", {git, "git://github.com/eproxus/meck.git", {tag, "0.7.1"}}},
        {dk_yaws, ".*", {git, "git://github.com/duomark/dk_yaws.git", {tag, "0.1.1"}}}
       ]}.

{erl_opts, [debug_info]}. %% , warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{source_path, ["/Users/jay/Gitdk/bubba/app/src"]}, {subpackages, false}]}.
%% {erl_opts, [inline, native, {hipe, [o2]}]}.
