%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%%------------------------------------------------------------------------------
%%% @copyright (c) 2017, DuoMark International, Inc. All Rights Reserved.
%%% @author Jay Nelson <jay@duomark.com>
%%%------------------------------------------------------------------------------

{release, {bubba, "0.0.9"}, [bubba, sasl]}.
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args,    "rel/vm.args"}.
