%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%%------------------------------------------------------------------------------
%%% @copyright (c) 2017, DuoMark International, Inc. All Rights Reserved.
%%% @author Jay Nelson <jay@duomark.com>
%%%------------------------------------------------------------------------------

[
  {bubba,
   [
    %% Default values:
    %% {ip,  {127,0,0,1}},
    %% {port, 9998}
   ]
  }
].
